@import url('https://fonts.googleapis.com/css2?family=Montserrat');
/* ital,wght@0,100..900;1,100..900&display=swap' */



:root {
    --fonte: #ffffff;
    --dark1: #171717;
    --dark2: #191919;
    --dark3: #777777;
    --fonte1: #60D669;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark2);
    height: 100vh;
    font-family: 'Montserrat'; 
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--dark1);
    min-height: 50px;
}

.logo {
    height: 100%;
  }
.icon {
    max-width: 60px;
    height: 100%;
  }

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links {
    text-decoration: none;
    color: var(--fonte);
}

.nav-links:hover {
    color: var(--dark3);
    transition: .4s;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    padding: 4rem;
}

.section-main {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}

.section-main > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}
h1 {
    font-size: 4rem;
    color: var(--fonte);
    letter-spacing: 8px;
}
strong {
    color: var(--fonte1);
    /* text-shadow: 0.2vw 0.2vw 0.2vw var(--fonte1), 0 0 1vw var(--fonte1), 0 0 1vw var(--fonte1), 0 0 1vw;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fff; */
    font-weight: bold;
}
.section-main p {
    color: var(--fonte);
}
.btn-action {
    background-color: var(--dark2);
    border: 1px solid var(--fonte);
    color: var(--fonte);
    text-decoration: none;
    width: 200px;
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: .4s;
}
.btn-action:hover {
    background-color: #60d66a9a;
    border: 1px solid var(--fonte);
}
.box-img-main {
    max-width: 450px;
    padding: 1rem;
}
.img-main {
    border-radius: 50%;
    width: 100%;
}
.title {
    color: var(--fonte);
}
        /* Sobre */
.section-sobre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--dark1);
}
.section-sobre > div {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section-sobre > div img {
    width: 450px;
    border-radius: 10px;
}
.section-sobre > div p {
    max-width: 600px;
    color: var(--fonte);
    text-align: justify;
}
        /* Experiencia */
.section-experiencia{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.section-experiencia > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}
h5 {
    color: var(--fonte);
    font-size: .9rem;
    font-weight: bold;
}
.section-sobre p {
    color: var(--fonte);
    text-align: justify;
}
        /* Footer */
footer {
    padding: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark1);
    gap: 2rem;
}
footer > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}